@font-face {
  font-family: "Belleza", sans-serif;
  src: url(./assets/fonts/Belleza-Regular.ttf);
}

@font-face {
  font-family: "Parisienne", sans-serif;
  src: url(./assets/fonts/Parisienne-Regular.ttf);
}

:root {
  --background-primary-color: #1a0a0f;
  --background-secondary-color: #3c0c20;

  --text-primary-color: #f5efe6;
  --text-secondary-color: #c9a84c;

  --button-primary-color: #6b0f2b;
  --button-secondary-color: #3c0c20;
  --button-sucess-color: #16a34a;
  --button-error-color: #dc2626;
  --button-alert-color: #d97706;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: "Parisienne", sans-serif;
  text-align: center;
}

p {
  font-family: "Belleza", sans-serif;
}
